{% extends 'base.html' %}{% load static %} {% block content %}
<div class="page-title page-title-style-04 page-title-08">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-12 start -->
      <div class="col-md-12">
        <div
          class="pt-heading triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h1>Thank You!</h1>
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-title-style-04 end -->
<!-- .page-content start -->
<div class="page-content">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-4 start -->
      <div class="col-md-4">
        <!-- .custom-heading-04 start -->
        <div class="custom-heading-04 heading-left">
          <h2>Your e-mail means a lot to me</h2>
          <p class="mb-5">Please feel free to browse the content on the rest of the site. I'll be in touch as soon as possible. Your patience is appreciated.</p>
        </div>
        <!-- .custom-heading-04 end -->
        
      </div>
      <!-- .col-md-4 end -->
      <!-- .col-md-8 start -->
      
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
{% endblock %}
