{% extends 'base.html' %}{% load static %} {% block content %}
<div class="page-title page-title-style-04 page-title-08">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-12 start -->
      <div class="col-md-12">
        <div
          class="pt-heading triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h1>Contact</h1>
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-title-style-04 end -->
<!-- .page-content start -->
<div class="page-content">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-4 start -->
      <div class="col-md-4">
        <!-- .custom-heading-04 start -->
        <div class="custom-heading-04 heading-left">
          <h2>Booking</h2>
        </div>
        <!-- .custom-heading-04 end -->
        <ul class="default-list">
          <li>info@davidpyeentertainer.com</li>
          <li><br /></li>
        </ul>
      </div>
      <!-- .col-md-4 end -->
      <!-- .col-md-8 start -->
      <div class="col-md-8 clearfix">
        <!-- .custom-heading-04 start -->
        <div class="custom-heading-04 heading-left">
          <h2>Your message</h2>
        </div>
        <!-- .custom-heading-04 end -->
        <form action="{% url 'contact' %}" method="post" class="wpcf7 wpcf7-form">
          {% csrf_token %}
          <div class="contact-form-input-wrapper half-field">
              <label>Your name</label>
              <span class="wpcf7-form-control-wrap">
                  <input
                      type="text"
                      name="your-name"
                      size="40"
                      class="wpcf7-text"
                      placeholder="Your name"
                  />
              </span>
          </div>
          <div class="contact-form-input-wrapper half-field field-with-margin">
              <label>Your email</label>
              <span class="wpcf7-form-control-wrap">
                  <input
                      type="email"
                      name="your-email"
                      size="40"
                      class="wpcf7-email"
                      placeholder="email@gmail.com"
                  />
              </span>
          </div>
          <div class="contact-form-input-wrapper half-field">
              <label>Your phone</label>
              <span class="wpcf7-form-control-wrap">
                  <input
                      type="text"
                      name="your-phone"
                      size="40"
                      class="wpcf7-text"
                      placeholder="Your phone number"
                      pattern="[\+]?[0-9]{1,29}"
                      title="Phone number (up to 29 digits, optional '+' prefix)"
                  />
              </span>
          </div>
          <div class="contact-form-input-wrapper">
              <label>Your message</label>
              <span class="wpcf7-form-control-wrap">
                  <textarea
                      name="your-message"
                      cols="40"
                      rows="10"
                      class="wpcf7-textarea"
                      placeholder="Your message"
                  ></textarea>
              </span>
          </div>
      
          <div class="g-recaptcha" data-sitekey="SITE-KEY"></div>
          <input
              type="submit"
              value="Send"
              class="wpcf7-form-control wpcf7-submit"
          />
      </form>
      
      </div>
      <!-- .col-md-8 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
{% endblock %}
