{% extends 'base.html' %} {% load static %} {% block content %}
<!-- #masterslider-artist start -->
<div id="masterslider-artist" class="master-slider ms-skin-default">
  <!-- sidenav links if you want them later -->
  <!-- <ul class="master-slider-custom-nav">
    <li>New track available</li>
    <li>Concert</li>
    <li>Live from New York</li>
  </ul> -->
  <!-- FIRST SLIDE -->
  <div class="ms-slide">
    <img
      src="{% static 'masterslider/blank.gif' %}"
      data-src="{% static 'img/custom/acoustic-01.jpg' %}"
      alt="Musician HTML template for music industry - musicians, bands and music blogs"
    />

    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 360px"
      data-type="text"
      data-effect="bottom(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      Award winning entertainer
      <i class="fa fa-star" aria-hidden="true"></i>
    </span>
    <h1
      class="ms-layer pi-caption"
      style="left: 0; top: 400px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="0"
    >
      David Pye
    </h1>
    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 485px"
      data-type="text"
      data-effect="top(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      Limited availability
    </span>
    <a
      href="{% url 'contact' %}"
      class="ms-layer pi-button"
      style="left: 0; top: 585px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="900"
    >
      BOOK NOW
    </a>
    <a
      href="home-page-music-artist.html#slide-to-section"
      class="ms-layer btn-slide-down"
      style="left: 565px; top: 850px"
      data-type="text"
      data-effect="top(short)"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="1000"
      ><i class="fa fa-angle-down"></i>
    </a>
  </div>
  <!-- FIRST SLIDE END -->

  <!-- SECOND SLIDE -->
  <div class="ms-slide">
    <img
      src="{% static 'masterslider/blank.gif' %}"
      data-src=""
      alt="Musician HTML template for music industry - musicians, bands and music blogs"
    />

    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 360px"
      data-type="text"
      data-effect="bottom(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      Evelyn Burke - Hulla Lounge London
    </span>
    <h1
      class="ms-layer pi-caption"
      style="left: 0; top: 400px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="0"
    >
      LATE SPRING TOUR
    </h1>
    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 485px"
      data-type="text"
      data-effect="top(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      July 22, 2017
    </span>
    <a
      href="home-page-music-artist.html"
      class="ms-layer pi-button"
      style="left: 0; top: 585px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="900"
    >
      GRAB YOUR TICKET
    </a>

    <a
      href="home-page-music-artist.html#slide-to-section"
      class="ms-layer btn-slide-down"
      style="left: 565px; top: 850px"
      data-type="text"
      data-effect="top(short)"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="1000"
      ><i class="fa fa-angle-down"></i>
    </a>
  </div>
  <!-- SECOND SLIDE END -->

  <!-- THIRD SLIDE -->
  <div class="ms-slide">
    <img
      src="{% static 'masterslider/blank.gif' %}"
      data-src=""
      alt="Musician HTML template for music industry - musicians, bands and music blogs"
    />

    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 360px"
      data-type="text"
      data-effect="bottom(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      Evelyn Burke - New concert
    </span>
    <h1
      class="ms-layer pi-caption"
      style="left: 0; top: 400px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="0"
    >
      LIVE IN NEW YORK
    </h1>
    <span
      class="ms-layer pi-caption-small"
      style="left: 0; top: 485px"
      data-type="text"
      data-effect="top(short)"
      data-duration="400"
      data-hide-effect="fade"
      data-delay="400"
    >
      July 22, 2017
    </span>
    <a
      href="home-page-music-artist.html"
      class="ms-layer pi-button"
      style="left: 0; top: 585px"
      data-type="text"
      data-effect="fade"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="900"
    >
      GRAB YOUR TICKET
    </a>

    <a
      href="home-page-music-artist.html#slide-to-section"
      class="ms-layer btn-slide-down"
      style="left: 565px; top: 850px"
      data-type="text"
      data-effect="top(short)"
      data-duration="500"
      data-hide-effect="fade"
      data-delay="1000"
      ><i class="fa fa-angle-down"></i>
    </a>
  </div>
  <!-- THIRD SLIDE END -->
</div>
<!-- #masterslider-artist end -->

<!-- .page-content start -->
<div id="slide-to-section" class="page-content">
  <!-- .container start -->
  <div class="container" id="about">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-2 start -->
      <div class="col-md-2 hidden-xs"></div>
      <!-- .col-md-2 end -->

      <!-- .col-md-8 start -->
      <div class="col-md-8 centered">
        <!-- .custom-heading-01 start -->
        <div
          class="custom-heading-01 triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h2>About David</h2>
        </div>
        <!-- .custom-heading-01 end -->

        <p>
          Dave Pye is a sensational male vocal entertainer who wows audiences
          everywhere he performs. A real crowd pleaser to audiences young and
          old alike, Dave has a charming personality and excellent stage
          presence. He covers material from the 60’s right through to current
          day chart hits, singing something for everyone from his wide and
          varied repertoire.
        </p>
      </div>
      <!-- .col-md-8 end -->

      <!-- .col-md-2 start -->
      <div class="col-md-2 hidden-xs"></div>
      <!-- .col-md-2 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->

<!-- .page-content start -->
<div class="page-content custom-background column-img-bkg bkg-dark-grey">
  <div class="page-content-mask mask-solid-color"></div>
  <!-- .container-fluid start -->
  <div class="container-fluid">
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-6.col-sm-12.col-xs-12 start -->
      <div class="col-md-6 col-sm-12 col-xs-12 bkg-img01 mb-0"></div>
      <!-- .col-md-6.col-sm-12.col-xs-12 end -->
      <!-- .col-md-6.col-sm-12.col-xs-12 start -->
      <div class="col-md-6 col-sm-12 col-xs-12 custom-col-padding-both">
        <!-- Owl Carousel Container start -->
        <div class="carousel-container">
          <!-- .testimonial-carousel end -->
          <div class="testimonial-carousel owl-carousel">
            <!-- .owl-item start -->
            <div class="owl-item">
              <!-- .testimonial start -->
              <div class="testimonial">
                <p>
                  <i class="fa fa-quote-left"></i> David's performance at our
                  wedding was nothing short of spectacular. His ability to
                  captivate the audience and add a touch of class to our event
                  was remarkable. Every note he played set the perfect tone for
                  our magical evening. We're so grateful for his contribution to
                  making our day truly memorable!
                  <i class="fa fa-quote-right"></i>
                </p>
                <span class="author"> Joan Burke </span>
              </div>
              <!-- .testimonial end -->
            </div>
            <!-- .owl-item end -->

            <!-- .owl-item start -->
            <div class="owl-item">
              <!-- .testimonial start -->
              <div class="testimonial">
                <p>
                  <i class="fa fa-quote-left"></i>
                  David was a highlight at our wedding with his outstanding
                  performance. His blend of elegance and energy brought our
                  special day to life. Guests raved about his engaging presence
                  and musical talent. Truly, David added a magical touch to our
                  celebration. Highly recommended for an unforgettable wedding
                  experience!
                  <i class="fa fa-quote-right"></i>
                </p>

                <span class="author"> Dan Theman </span>
              </div>
              <!-- .testimonial end -->
            </div>
            <!-- .owl-item end -->
            <!-- .owl-item start -->
            <div class="owl-item">
              <!-- .testimonial start -->
              <div class="testimonial">
                <p>
                  <i class="fa fa-quote-left"></i> From the moment David started
                  performing, he lit up the room with his charisma and talent.
                  His music perfectly complemented our wedding's atmosphere,
                  adding an extra layer of joy and elegance. Our guests were
                  thoroughly impressed and many asked for his contact details.
                  David is a true professional and an absolute joy to work with!
                  <i class="fa fa-quote-right"></i>
                </p>

                <span class="author"> Keith Hopkins </span>
              </div>
              <!-- .testimonial end -->
            </div>
            <!-- .owl-item end -->
          </div>
          <!-- .owl-carousel end -->
        </div>
        <!-- Owl Carousel Container end -->
      </div>
      <!-- .col-md-6.col-sm-12.col-xs-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container-fluid end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div
  id="listen-section"
  class="page-content custom-background bkg-img05 pt-200 pb-200"
>
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row">
      <!-- tiktok -->
      <div class="col-md-12 centered">
        <blockquote
          class="tiktok-embed"
          cite="https://www.tiktok.com/@davidpentertainer"
          data-unique-id="davidpentertainer"
          data-embed-type="creator"
          style="max-width: 780px; min-width: 288px"
        >
          <section>
            <a
              target="_blank"
              href="https://www.tiktok.com/@davidpentertainer?refer=creator_embed"
              >@davidpentertainer</a
            >
          </section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
    </div>
    <!-- row end -->
    <!-- facebook -->
    <div class="row">
      <div class="col-md-12 centered">
        <div
          class="fb-page"
          data-href="https://www.facebook.com/DavidpEntertainer"
          data-tabs="timeline"
          data-width="500"
          data-height=""
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true"
        >
          <blockquote
            cite="https://www.facebook.com/DavidpEntertainer"
            class="fb-xfbml-parse-ignore"
          >
            <a href="https://www.facebook.com/DavidpEntertainer"
              >David P - Entertainer</a
            >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div
  class="page-content custom-background custom-section-padding bkg-img02 mb-100"
>
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row"></div>
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content custom-background">
  <!-- .container start -->
  <div class="container" id="events">
    <!-- .row start -->
    <div class="row mb-20">
      <!-- .col-md-12 start -->
      <div class="col-md-12 mb-0 centered" id="events">
        <!-- .custom-heading-01 start -->
        <div
          class="custom-heading-01 triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h2>Upcoming events</h2>
        </div>
        <!-- .custom-heading-01 end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
    <!-- .row start -->
    <div class="row mb-80">
      <!-- .col-md-12 start -->
      <div class="col-md-12">
        <!-- .pi-events.events-style-01 start -->
        <div class="pi-events events-style-01">
          <!-- event start -->
          <div class="events-row">
            <div class="events-title-container events-cell">
              <ul class="events-meta">
                <li class="event-date">
                  <i class="fa fa-calendar"></i> aug 21, 2016.
                </li>
                <li class="event-locations">Hulla Lounge London</li>
              </ul>
              <h5 class="event-title">
                <a href="events-single-clean.html"
                  >London Manifesto Late Spring Tour</a
                >
              </h5>
            </div>
            <div class="events-buttons events-cell">
              <a href="events-single-clean.html" class="btn"
                ><span>Read more <i class="fa fa-chevron-right"></i></span
              ></a>
              <a href="events-single-clean.html" class="btn btn-theme event-buy"
                ><span><i class="fa fa-shopping-cart"></i></span
              ></a>
            </div>
          </div>
          <!-- event end -->

          <!-- event start -->
          <div class="events-row">
            <div class="events-title-container events-cell">
              <ul class="events-meta">
                <li class="event-date">
                  <i class="fa fa-calendar"></i> aug 24, 2016.
                </li>
                <li class="event-locations">Long City Bar Liverpool</li>
              </ul>
              <h5 class="event-title">
                <a href="events-single-clean.html"
                  >Inspiring Sounds Jazz Festival</a
                >
              </h5>
            </div>
            <div class="events-buttons events-cell">
              <a href="events-single-clean.html" class="btn"
                ><span>Read more <i class="fa fa-chevron-right"></i></span
              ></a>
              <a
                href="events-single-clean.html"
                class="btn btn-theme event-buy event-sold-out"
                ><span><i class="fa fa-shopping-cart"></i></span
              ></a>
            </div>
          </div>
          <!-- event end -->

          <!-- event start -->
          <div class="events-row">
            <div class="events-title-container events-cell">
              <ul class="events-meta">
                <li class="event-date">
                  <i class="fa fa-calendar"></i> aug 24, 2016.
                </li>
                <li class="event-locations">Lounge bar Matrix, Berlin</li>
              </ul>
              <h5 class="event-title">
                <a href="events-single-clean.html"
                  >Evelyn Burke Quartet - Here Comes Jazz</a
                >
              </h5>
            </div>
            <div class="events-buttons events-cell">
              <a href="events-single-clean.html" class="btn"
                ><span>Read more <i class="fa fa-chevron-right"></i></span
              ></a>
              <a href="events-single-clean.html" class="btn btn-theme event-buy"
                ><span><i class="fa fa-shopping-cart"></i></span
              ></a>
            </div>
          </div>

          <!-- event start -->
          <div class="events-row">
            <div class="events-title-container events-cell">
              <ul class="events-meta">
                <li class="event-date">
                  <i class="fa fa-calendar"></i> aug 24, 2016.
                </li>
                <li class="event-locations">City Square, London</li>
              </ul>
              <h5 class="event-title">
                <a href="events-single-clean.html"
                  >Found raising London - Charity Concert</a
                >
              </h5>
            </div>
            <div class="events-buttons events-cell">
              <a href="events-single-clean.html" class="btn"
                ><span>Read more <i class="fa fa-chevron-right"></i></span
              ></a>
              <a href="events-single-clean.html" class="btn btn-theme event-buy"
                ><span><i class="fa fa-shopping-cart"></i></span
              ></a>
            </div>
          </div>
          <!-- event end -->
        </div>
        <!-- .pi-events.events-style-01 end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-12 start -->
      <div class="col-md-12 centered">
        <a
          href="events-clean.html"
          class="btn icon-animated btn-empty btn-center triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <span>
            <i class="fa fa-calendar"></i>
            View all dates
          </span>
        </a>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div
  class="page-content custom-background custom-section-padding bkg-img03 mb-100"
>
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row"></div>
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content custom-background">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row mb-20">
      <!-- .col-md-12 start -->
      <div class="col-md-12 mb-0 centered" id="gallery">
        <!-- .custom-heading-01 start -->
        <div
          class="custom-heading-01 triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h2>Photos, videos & Social</h2>
        </div>
        <!-- .custom-heading-01 end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
    <!-- .row start -->
    <div class="row mb-80">
      <ul id="gallery-items" class="gallery-items clearfix">
        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-01.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-01.jpg' %}"
                  title="Live from Jazz Fest"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-02.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="http://www.vimeo.com/79298633"
                  class="video-post-trigger zoom"
                  title="Jazz live from Berlin"
                >
                  <i class="fa fa-play-circle-o"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-03.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-03.jpg' %}"
                  title="Live from London"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-04.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-04.jpg' %}"
                  title="Evelyn's solo performance"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>
        <!-- .gallery-item end -->

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-05.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-05.jpg' %}"
                  title="Live from Jazz Fest"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-06.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-06.jpg' %}"
                  title="Live from London"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>

        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-07.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-07.jpg' %}"
                  title="Live from Jazz Fest"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>
        <li
          class="gallery-item col-md-3 col-sm-4 col-xs-12 triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <figure class="gallery-item-container">
            <div class="gallery-img">
              <img
                src="{% static 'img/gallery/music-artist-gallery-08.jpg' %}"
                alt="Musician HTML template for music industry - musicians, bands and music blogs"
              />
              <div class="mask">
                <a
                  href="{% static 'img/gallery/music-artist-gallery-08.jpg' %}"
                  title="Live from Berlin"
                  class="gallery-trigger zoom"
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </figure>
        </li>
        <!-- .gallery-item end -->
      </ul>
      <!-- .gallery-items end -->
    </div>
    <!-- .row end -->

    <!-- .row start -->
    <div class="row">
      <!-- .col-md-12 start -->
      <div class="col-md-12 centered">
        <a
          href="photo-video-gallery.html"
          class="btn icon-animated btn-empty btn-center triggerAnimation animated centered"
          data-animate="fadeInUp"
        >
          <span>
            <i class="fa fa-refresh"></i>
            Load more
          </span>
        </a>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
  <!-- row start -->

  
<!-- .page-content end -->
<!-- .page-content start -->
<div
  class="page-content custom-background custom-section-padding bkg-img04 mb-100"
>
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row"></div>
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content custom-background">
  <!-- .container start -->
  <div class="container">
    <!-- .row start -->
    <div class="row mb-20">
      <!-- .col-md-12 start -->
      <div class="col-md-12 mb-0 centered">
        <!-- .custom-heading-01 start -->
        <div
          class="custom-heading-01 triggerAnimation animated"
          data-animate="fadeInUp"
        >
          <h2>News & press</h2>
        </div>
        <!-- .custom-heading-01 end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
    <!-- .row start -->
    <div class="row">
      <!-- .col-md-12 start -->
      <div class="col-md-12">
        <!-- Owl Carousel Container start -->
        <div class="carousel-container">
          <!-- .latest-posts-carousel start -->
          <div class="latest-posts-carousel-01 owl-carousel">
            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>Rockstar Magazine,</li>
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>

                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Wonderful vocalist, friendly, amazing, wonderful
                    personality</a
                  >
                </h3>
                <p>
                  Hearing him sing... Simply wow, what a vocal capabilities. He
                  is amazing, bringing the wedding to whole new level
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->
            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>
                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Presenting David Pye live in London UK</a
                  >
                </h3>
                <p>
                  Hear the new live concert from David Pye, live from London UK.
                  Dave and his band held a charity concert and it was great
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->
            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>Spill Magazine,</li>
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>
                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Modern Jazz in whole new level - Listen to the great David
                    Pye</a
                  >
                </h3>
                <p>
                  A real refreshing vocal in the entertainment world. Combining
                  elements of old and modern jazz like a pro. Dave and his band
                  nailed it
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->

            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>Rockstar Magazine,</li>
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>
                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Wonderful vocalist, friendly, amazing, wonderful
                    personality</a
                  >
                </h3>
                <p>
                  Hearing him sing... Simply wow, what a vocal capabilities. He
                  and his band are amazing, bringing music to whole new level
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->
            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>
                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Presenting David Pye live in London UK</a
                  >
                </h3>
                <p>
                  Hear the new live concert from David Pye, live from London UK.
                  Dave and his band held a charity concert and it was great
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->
            <!-- .owl-item start -->
            <div class="owl-item">
              <div class="latest-post-item clearfix">
                <ul class="post-meta">
                  <li>Spill Magazine,</li>
                  <li>
                    <time class="post-time" datetime="2016-12-06"
                      >December 6, 2016</time
                    >
                  </li>
                </ul>
                <h3 class="post-title">
                  <a href="news-single-artist-dark.html"
                    >Modern Jazz in whole new level - Listen to great David
                    Pye</a
                  >
                </h3>
                <p>
                  A real refreshing vocal in jazz world. Combining elements of
                  old and modern jazz like a pro. Dave and his band nailed it
                  <a href="home-page-music-artist.html#" class="read-more"
                    >[...]</a
                  >
                </p>
              </div>
            </div>
            <!-- .owl-item end -->
          </div>
          <!-- .owl-carousel end -->
        </div>
        <!-- Owl Carousel Container end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
<!-- .page-content start -->
<div class="page-content">
  <div class="container-fluid padding-0">
    <!-- .row start -->
    <div class="row mb-0">
      <!-- .col-md-12 start -->
      <div class="col-md-12 centered padding-0 mb-0">
        <article class="instagram-stream"></article>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</div>
<!-- .page-content end -->
{% endblock %}
